body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}

.header-container {
    border-bottom: 1px solid #e7e9fc;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.container {
    width: 1128px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
}

.address-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.nav-link:hover,
:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.address-link:hover,
:focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.hero-heading {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    text-align: center;
    max-width: 496px;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: #FFF;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover {
    color: #404BBF;
}

.hero-button:focus {
    color: #404BBF;
}

.hidden-title {
    display: none;
}

.advantages {
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.advatages-item {
    width: calc((100% - 72px) / 4)
}



.heading3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
    margin-bottom: 8px;
}

.body-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.heading2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.heading-team {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.team-card {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.card-content {
    padding: 32px 0;
}

.portfolio {
    padding: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-item {
    width: calc((100% - 48px) / 3)
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
    text-align: center;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    max-width: 264px;
}